.HomeScreen {
  width: 100vw;
  height: 100vh;
  background-color: red !important;

  @media (min-width: 992px) {
    .sidebar-nav {
      position: relative !important;
      transform: translateX(0) !important;
      z-index: auto !important;
    }
  }

  .nav-item:hover {
    background-color: #f8f9fa !important;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .side-bar {
    width: 20vw !important;
    height: 100vh !important;
    z-index: 1050;
    transition: all 0.3s ease-in-out;
  }

  .logo {
    color: var(--primary);
  }

  main {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    max-width: calc(100vw - 20vw);
  }
}
